{% extends 'temp_inheritance/base.html' %}
{% block content %}
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">s.n</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
         <th scope="col">company</th>
        <th scope="col">colour</th>
        <th scope="col">description</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.price}}</td>
         <td>{{ item.company }}</td>
        <td>{{ item.colour}}</td>
         <td>{{ item.description}}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
